<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <selenium>
        <browser name="Internet Explorer" browser="*iexplore" />
        <browser name="Firefox" browser="*firefox" />
    </selenium>

    <testsuites>
        <testsuite name="all">
            <file>unit/users/RegistrationTest.php</file>
            <directory>unit/components</directory>
            <file>unit/users/LoginLogoutTest.php</file>
            <file>unit/users/PasswordRecoveryTest.php</file>
            <file>unit/users/ProfileTest.php</file>
            <file>unit/users/AvatarTest.php</file>
            <file>unit/restaurants/FromReferenceTest.php</file>
            <directory>unit/feedbacks</directory>
            <file>unit/meals/MealTest.php</file>
            <file>unit/meals/RestaurantMealsTest</file>
            <file>unit/meals/GetPhotosTest.php</file>
            <file>unit/ratings/IsUserCanRateAMeal.php</file>
            <file>unit/ratings/RatingsTest.php</file>
            <!--            <directory>unit/reports</directory>-->
        </testsuite>
        <testsuite name="notready">
            <file>unit/users/ActivityTest.php</file>
            <directory>unit/restaurants</directory>
        </testsuite>
    </testsuites>
</phpunit>